src/main/mule/get-all-customers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="get-all-customersFlow1" doc:id="4bb3976d-4eab-4787-89a9-8275f858290e" >
		<logger level="INFO" doc:name="Logger" doc:id="bebf3c3f-7000-4dda-a581-82514c416192" message="Request is sending to Database to fetch all customers"/>
		<db:select doc:name="Select" doc:id="7ad0b97c-2270-45a9-9665-3fd412a3f502" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from customer_tbl]]></db:sql>
		</db:select>
		<choice doc:name="Choice" doc:id="b8d21696-004c-428b-9416-5c94572f2a0d" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="17fab169-a00a-4efb-983b-573505842a7b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	environment : p('environment'),
	(payload map(item,index) -> {	
	id : item.id,
	name : item.name,
	email : item.email,
	address : item.address,
	telephone : item.telephone
})
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c45a9f0e-3a53-4ffa-b2df-61507f3c8b5c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "No data exists"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
